[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/stb"]
	path = extern/stb
	url = git@github.com:nothings/stb.git
[submodule "extern/cxxtimer"]
	path = extern/cxxtimer
	url = git@github.com:andremaravilha/cxxtimer.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = git@github.com:ocornut/imgui.git
